name: Build AssemblyScript Wasm

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install AssemblyScript and Build
        run: |
          npm init -y
          npm install assemblyscript
          npx asc cwt.ts -o cwt.wasm --optimize

      - name: Upload Wasm Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wasm-binary
          path: cwt.wasm
